name: Entur/Firebase/Preview

# used for creating firebase previews for use in ie: PRs

on:
  workflow_call:
    inputs:
      gcp_project_id:
        required: true
        type: string
        description: "GCP Project ID"
      environment:
        required: true
        type: string
        description: "Environment to deploy to (dev, tst, prd)"
      entry_point:
        type: string
        description: "Entry point folder to deploy"
        default: "."
      build_artifact_name:
        description: "Name of GitHub artifact to add to build"
        type: string
      build_artifact_path:
        description: "Path to the artifact"
        type: string
        default: "build"
      preview_expire:
        type: string
        description: "Preview expire time"
        default: "7d"
      timeout_minutes:
        description: "Timeout in minutes"
        type: number
        default: 20
    outputs:
      details_url:
        value: ${{ jobs.deploy_preview.outputs.details_url }}
      urls:
        value: ${{ jobs.deploy_preview.outputs.urls }}

jobs:
  deploy_preview:
    permissions:
      contents: read
      pull-requests: write
      id-token: write
    runs-on: ubuntu-latest
    timeout-minutes: ${{ inputs.timeout_minutes }}
    environment: ${{ inputs.environment }}
    outputs:
      details_url: ${{ steps.firebase-deploy-preview.outputs.details_url }}
      urls: ${{ steps.firebase-deploy-preview.outputs.urls }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Authenticate with GCP
        id: auth
        uses: "google-github-actions/auth@v3"
        with:
          workload_identity_provider: ${{ vars.WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ vars.SERVICE_ACCOUNT }}
          create_credentials_file: true

      - name: Set service account key
        env:
          SERVICE_ACCOUNT_KEY_PATH: ${{ steps.auth.outputs.credentials_file_path }}
        run: |
          echo "SERVICE_ACCOUNT_KEY=$(cat "${SERVICE_ACCOUNT_KEY_PATH}" | tr -d '\n')" >> $GITHUB_ENV

      - name: Download artifacts
        id: download-artifact
        uses: actions/download-artifact@v7
        if: inputs.build_artifact_name != ''
        with:
          name: ${{ inputs.build_artifact_name }}
          path: ${{ inputs.build_artifact_path }}

      - name: Set CHANNEL_ID for preview deployment
        env:
           GCP_PROJECT_ID: ${{ inputs.gcp_project_id }}
           REF: ${{ github.head_ref || github.ref_name }}
        run: |

          CHANNEL_ID="preview-${{ github.event.number }}-${REF}"
          FULL_LINK="${GCP_PROJECT_ID}-${CHANNEL_ID}"
          
          if [ ${#FULL_LINK} -gt 63 ]; then
            MAX_CHANNEL_LENGTH=$((63 - ${#GCP_PROJECT_ID} - 1))
            CHANNEL_ID="${CHANNEL_ID:0:MAX_CHANNEL_LENGTH}"
          fi

          echo "CHANNEL_ID=${CHANNEL_ID}" >> $GITHUB_ENV


      - name: Firebase deploy preview
        id: firebase-deploy-preview
        uses: FirebaseExtended/action-hosting-deploy@e2eda2e106cfa35cdbcf4ac9ddaf6c4756df2c8c # v0
        with:
          firebaseServiceAccount: "${{ env.SERVICE_ACCOUNT_KEY }}"
          projectId: ${{ inputs.gcp_project_id }}
          entryPoint: ${{ inputs.entry_point }}
          channelId: ${{ env.CHANNEL_ID }}
          expires: ${{ inputs.preview_expire }}

      - name: Add comment with preview url
        if: github.event_name == 'pull_request'
        uses: actions/github-script@v8
        env:
          MESSAGE_BODY: "Preview for this PR in ${{ inputs.environment }} is available at ${{ steps.firebase-deploy-preview.outputs.details_url }} (Expires in ${{ inputs.preview_expire }})"
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            await github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: process.env.MESSAGE_BODY
            });
